  docker-build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image (push only)
        if: github.event_name == 'push'
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/flaskapp:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/flaskapp:latest

      - name: Build Docker image (PR only)
        if: github.event_name == 'pull_request'
        run: |
          docker build -t flaskapp .
