name: CI/CD Pipeline

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest -q

  docker:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAMEE }}
          password: ${{ secrets.DOCKER_PASSWORDD }}

      - name: Build and push image (push only)
        if: github.event_name == 'push'
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAMEE }}/flaskapp:latest .
          docker push ${{ secrets.DOCKER_USERNAMEE }}/flaskapp:latest

      - name: Build only (PR)
        if: github.event_name == 'pull_request'
        run: |
          docker build -t flaskapp .
